<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>
    <div class="container" id="app">
      <div class="card">
        <h1>{{title}}</h1>
        <div class="form-control">
          <input
            type="text"
            value="{{inputValue}}"
            v-bind:placeholder="notePlaceholder"
            v-model="inputValue"
            v-on:keypress.enter="addNote"
          />
        </div>
        <h1>{{inputValue}}</h1>
        <button class="btn" v-on:click="addNote">Добавить</button>
        <ul class="list">
          <li class="list-item" v-for="(item, index) in notes" :key="index">
            {{item}}
            <button class="btn danger" v-on:click="deleteNote(index)">удалить</button>
          </li>
        </ul>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
